body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#333;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:20px;
}

.places{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
}

.food{
display:flex;
justify-content:center;
gap:20px;
padding:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:10px;
border-radius:10px;
width:200px;
text-align:center;
box-shadow:0 0 10px gray;
}

.card img{
width:100%;
border-radius:10px;
}

.booking{
padding:20px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

button{
background:green;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

footer{
text-align:center;
background:#333;
color:white;
padding:10px;
}
